<template>
    <v-container fluid>
        <v-row>
            <v-col cols="12" lg="6">
                <v-card tile>
                    <v-card-title>Студент</v-card-title>
                    <v-card-actions>
                        <v-text-field outlined label="E-mail" v-model="studentMail"></v-text-field>
                    </v-card-actions>
                </v-card>
            </v-col>
            <v-col cols="6" md="4" lg="2">
                <v-card>
                    <v-card-title>Источники</v-card-title>
                    <v-list>
                        <v-list-item-group
                            v-model="sourceFlags"
                            multiple
                        >
                                <v-list-item
                                    v-for="source in sourceList"
                                    :key="source['origin_name']"
                                    :value="source['origin_name']"
                                >
                                    <template v-slot:default="{ active, toggle }">
                                        <v-list-item-action>
                                            <v-checkbox
                                                    :input-value="active"
                                                    :true-value="source['origin_name']"
                                                    @click="toggle"
                                            >
                                            </v-checkbox>
                                        </v-list-item-action>
                                        <v-list-item-content>
                                            <v-list-item-title>{{source.origin_name}}</v-list-item-title>
                                        </v-list-item-content>
                                    </template>
                                </v-list-item>
                        </v-list-item-group>
                    </v-list>
                </v-card>
            </v-col>
            <v-col cols="6" md="4" lg="2">
                <v-card tile>
                    <v-card-title>Формат</v-card-title>
                    <v-list class="ma-0">
                        <v-radio-group :mandatory="true" v-model="formatFlag" class="ma-0 pa-0" hide-details>
                            <template v-for="(format, index) in formatList">
                                <v-list-item :key="index" class="ma-0">
                                    <v-list-item-action>
                                        <v-radio :value="format.name"></v-radio>
                                    </v-list-item-action>
                                    <v-list-item-content>
                                        <v-list-item-title>{{ format.name }}</v-list-item-title>
                                    </v-list-item-content>
                                </v-list-item>
                            </template>
                        </v-radio-group>
                    </v-list>
                </v-card>
            </v-col>
            <v-col cols="12" md="4" lg="2">
                <v-card tile>
                    <v-card-title>Период</v-card-title>
                    <v-card-actions class="d-flex flex-column">
                        <v-menu
                                v-model="fromDateMenu"
                                :close-on-content-click="false"
                                :nudge-right="40"
                                transition="scale-transition"
                                offset-y
                                min-width="290px"
                        >
                            <template v-slot:activator="{ on }">
                                <v-text-field
                                        v-model="fromDate"
                                        label="С"
                                        prepend-icon="event"
                                        readonly
                                        v-on="on"
                                ></v-text-field>
                            </template>
                            <v-date-picker v-model="fromDate" @input="fromDateMenu = false"></v-date-picker>
                        </v-menu>
                        <v-menu
                                v-model="toDateMenu"
                                :close-on-content-click="false"
                                :nudge-right="40"
                                transition="scale-transition"
                                offset-y
                                min-width="290px"
                        >
                            <template v-slot:activator="{ on }">
                                <v-text-field
                                        v-model="toDate"
                                        label="До"
                                        prepend-icon="event"
                                        readonly
                                        v-on="on"
                                ></v-text-field>
                            </template>
                            <v-date-picker v-model="toDate" @input="toDateMenu = false"></v-date-picker>
                        </v-menu>
                    </v-card-actions>
                </v-card>
            </v-col>
            <v-col cols="12">
                <v-card>
                    <v-card-title>Заголовок отчета</v-card-title>
                    <v-card-actions >
                        <v-text-field v-model="title"></v-text-field>
                    </v-card-actions>
                </v-card>
            </v-col>
        </v-row>
        <v-row>
            <v-col align="center">
                <v-btn rounded>
                    <v-icon>mdi-plus</v-icon>
                    <span>Создать</span>
                </v-btn>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    export default {
        name: "Constructor",
        data() { return {
            info: null,
            studentMail: '',
            sourceFlags: [],
            formatFlag: '',
            fromDate: new Date().toISOString().substr(0, 10),
            toDate: new Date().toISOString().substr(0, 10),
            title: '',

            sourceList: null,
            /*[
                {name: 'Git'},
                {name: 'Trello'},
                {name: 'Google Classroom'},
            ]*/
            formatList: [
                {name: 'Web'},
                {name: '.docx'},
                {name: '.pdf'},
            ],
            fromDateMenu: false,
            toDateMenu: false,
        }},
        mounted () {
            this.axios.get('http://localhost/api/modules')
                .then(response => (this.sourceList = response))
        },
    }
</script>