<template>
    <div id="app">
        <div>
            <v-data-table
                :headers="headers"
                :items="reports"
                item-key="title"
            >
                <template v-slot:item.sources="{ item }">
                    <v-chip-group>
                        <v-chip v-for="(source, index) in item.sources" :key="index">{{ source }}</v-chip>
                    </v-chip-group>
                </template>
                <template v-slot:item.type="{ item }">
                    <a :href="item.type == 'JSON' ? './report' : '/ '"
                       style="text-decoration: none; color: unset"
                    >
                        {{ item.type }}
                    </a>
                </template>
            </v-data-table>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Report_list",
        data: () => ({
            headers: [
                {
                    text: 'Название отчета',
                    value: 'title',
                },
                {
                    text: 'Дата создания',
                    value: 'creation_date',
                },
                {
                    text: 'Студент',
                    value: 'student',
                },
                {
                    text: 'Период',
                    value: 'period',
                },
                {
                    text: 'Источники',
                    value: 'sources',
                },
                {
                    text: 'Формат',
                    value: 'type',
                },
            ],
            reports: [
                {
                    title: 'Пример отчета 1',
                    creation_date: '01.01.2001',
                    student: 'Студент 1',
                    period: 'YYYY-MM-DD - YYYY-MM-DD',
                    sources: ['Git', 'Trello'],
                    type: 'PDF',
                },
                {
                    title: 'Пример отчета 2',
                    creation_date: '02.02.2002',
                    student: 'Студент 2',
                    period: '2018-01-11 - 2018-04-28',
                    sources: ['Trello', 'Google Classroom'],
                    type: 'JSON',
                }
            ]
        }),
    }
</script>

<style scoped>

</style>