d-lg-inline-flex<template>
    <nav>
        <v-app-bar app clipped-left>
            <v-app-bar-nav-icon class="d-lg-none" @click="sidebarFlag = !sidebarFlag"></v-app-bar-nav-icon>
            <v-toolbar-items class="d-none d-lg-flex">
                <a href="https://hse.ru" class="ma-3">
                    <v-img src="/logo_hse.png" alt="ВШЭ" width="40" contain></v-img>
                </a>
                <a href="https://miem.hse.ru" class="ma-3">
                    <v-img src="/logo_miem.svg" alt="МИЭМ" width="120" contain class="mt-1"></v-img>
                </a>
            </v-toolbar-items>
            <v-toolbar-title>
                <span class="ml-10 title">Цифровое портфолио</span>
            </v-toolbar-title>
            <v-spacer></v-spacer>
                <v-btn
                    color="primary"
                    depressed
                    v-if="!isSignedIn"
                    @click="signIn"
                >Войти</v-btn>
                <v-avatar v-else></v-avatar>
        </v-app-bar>

        <v-navigation-drawer app clipped v-model="sidebarFlag">
            <v-list>
                <v-list-item class="d-lg-none">
                    <a href="https://hse.ru">
                        <v-img src="/logo_hse.png" width="30" contain></v-img>
                    </a>
                    <a href="https://miem.hse.ru">
                        <v-img src="/logo_miem.svg" class="ml-10" width="100" contain></v-img>
                    </a>
                </v-list-item>
                <v-divider class="d-lg-none"></v-divider>
                <v-list-item router to="/constructor">
                    <v-list-item-action>
                        <v-icon>note_add</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>Создать</v-list-item-content>
                </v-list-item>
                <v-list-item router to="/">
                    <v-list-item-action>
                        <v-icon>note</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>Список</v-list-item-content>
                </v-list-item>
                <v-list-item router to="/report" disabled>
                    <v-list-item-action>
                        <v-icon>assignment</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>Просмотреть</v-list-item-content>
                </v-list-item>
            </v-list>
                <v-footer app padless>
                            <v-btn
                                    v-if="isSignedIn"
                                    block
                                    dark
                                    tile
                                    color="error"
                                    @click="signOut"
                            >
                                <v-icon>mdi-exit-to-app</v-icon>
                            </v-btn>
                </v-footer>

        </v-navigation-drawer>
    </nav>
</template>

<script>
    export default {
        name: "Navbar",
        data: () => ({
            sidebarFlag: null,
            isSignedIn: true,
        }),
        methods: {
            signIn: function() {this.isSignedIn = true},
            signOut: function() {this.isSignedIn = false},
        }
    }
</script>
